.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.sales-pilot-sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 33vw;
    background-color: #fff;
    transition: transform 0.3s ease-out;
    transform: translateX(calc(-33vw - 24px));
    z-index: 999999;
    padding-left: 24px;
    padding-right: 24px;
}

.sales-pilot-sidebar.sales-pilot-sidebar-active {
    transform: translateX(0);
}

.sales-pilot-sidebar-inner-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-container {
    width: 60%;
    min-width: 250px;
}

.submit-button {
    height: 52px;
    font-size: 18px;
    width: 100%;
}
